In [11]:
import pandas as pd

# Load the data
df = pd.read_csv("Amazon Sale Report.csv")

In [19]:
# Quick check
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,Amount (IDR),ship-city,ship-state,ship-postal-code,B2B,fulfilled-by
0,405-8078784-5731545,2022-04-01,Cancelled,Merchant,Amazon.in,Standard,SET389,SET389-KR-NP-S,Set,S,B09KXVBD7Z,NaN,0,647.62,MUMBAI,MAHARASHTRA,400081,False,Easy Ship
1,171-9198151-1101146,2022-04-01,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3781,JNE3781-KR-XXXL,kurta,3XL,B09K3WFS32,Shipped,1,406.00,BENGALURU,KARNATAKA,560085,False,Easy Ship
2,404-0687676-7273146,2022-04-01,Shipped,Amazon,Amazon.in,Expedited,JNE3371,JNE3371-KR-XL,kurta,XL,B07WV4JV4D,Shipped,1,329.00,NAVI MUMBAI,MAHARASHTRA,410210,True,NaN
3,403-9615377-8133951,2022-04-01,Cancelled,Merchant,Amazon.in,Standard,J0341,J0341-DR-L,Western Dress,L,B099NRCT7B,NaN,0,753.33,PUDUCHERRY,PUDUCHERRY,605008,False,Easy Ship
4,407-1069790-7240320,2022-04-01,Shipped,Amazon,Amazon.in,Expedited,JNE3671,JNE3671-TU-XXXL,Top,3XL,B098714BZP,Shipped,1,574.00,CHENNAI,TAMIL NADU,600073,False,NaN

In [21]:
# Quick check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128942 entries, 0 to 128941
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128942 non-null  object
 1   Date                128942 non-null  datetime64[ns]
 2   Status              128942 non-null  object
 3   Fulfilment          128942 non-null  object
 4   Sales Channel       128942 non-null  object
 5   ship-service-level  128942 non-null  object
 6   Style               128942 non-null  object
 7   SKU                 128942 non-null  object
 8   Category            128942 non-null  object
 9   Size                128942 non-null  object
 10  ASIN                128942 non-null  object
 11  Courier Status      122073 non-null  object
 12  Qty                 128942 non-null  int64
 13  Amount (IDR)        121149 non-null  float64
 14  ship-city           128942 non-null  object
 15  ship-state          128942 non-null  object
 16  ship-postal-code    128942 non-null  int64
 17  B2B                 128942 non-null  bool
 18  fulfilled-by        39264 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(14)
memory usage: 17.8+ MB

In [23]:
# Transforming Date content into 
df['Date'] = pd.to_datetime(df['Date'], format='%m-%d-%y', errors='coerce')
# Quick check
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128942 entries, 0 to 128941
Data columns (total 19 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128942 non-null  object
 1   Date                128942 non-null  datetime64[ns]
 2   Status              128942 non-null  object
 3   Fulfilment          128942 non-null  object
 4   Sales Channel       128942 non-null  object
 5   ship-service-level  128942 non-null  object
 6   Style               128942 non-null  object
 7   SKU                 128942 non-null  object
 8   Category            128942 non-null  object
 9   Size                128942 non-null  object
 10  ASIN                128942 non-null  object
 11  Courier Status      122073 non-null  object
 12  Qty                 128942 non-null  int64
 13  Amount (IDR)        121149 non-null  float64
 14  ship-city           128942 non-null  object
 15  ship-state          128942 non-null  object
 16  ship-postal-code    128942 non-null  int64
 17  B2B                 128942 non-null  bool
 18  fulfilled-by        39264 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(14)
memory usage: 17.8+ MB

In [29]:
# Sort the dataframe by Date
df = df.sort_values(by='Date').reset_index(drop=True)

# Preview the result
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,Amount (IDR),ship-city,ship-state,ship-postal-code,B2B,fulfilled-by
0,171-5621960-3341131,2022-03-31,Shipped,Amazon,Amazon.in,Expedited,JNE3518,JNE3518-KR-L,kurta,L,B08XVQM1LP,Shipped,1,487.0,chennai,TAMIL NADU,600035,False,NaN
1,406-5696940-6341966,2022-03-31,Shipped,Amazon,Amazon.in,Expedited,SET291,SET291-KR-PP-XL,Set,XL,B099NJV9X7,Shipped,1,605.0,HOWRAH,WEST BENGAL,711102,False,NaN
2,407-4837648-6290749,2022-03-31,Shipped,Amazon,Amazon.in,Expedited,SET341,SET341-KR-NP-XL,Set,XL,B09NPX3HG3,Shipped,1,857.0,KADI,Gujarat,382715,False,NaN
3,402-4733027-0669159,2022-03-31,Shipped,Amazon,Amazon.in,Expedited,J0335,J0335-DR-XL,Western Dress,XL,B09831P2JC,Shipped,1,989.0,BENGALURU,KARNATAKA,560037,False,NaN
4,171-7254125-8884332,2022-03-31,Cancelled,Amazon,Amazon.in,Expedited,JNE3784,JNE3784-KR-XXL,kurta,XXL,B09K3XZC3J,Cancelled,0,NaN,JAIPUR,RAJASTHAN,302029,False,NaN

In [31]:
df.tail()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Courier Status,Qty,Amount (IDR),ship-city,ship-state,ship-postal-code,B2B,fulfilled-by
128937,404-6523220-4171508,2022-06-29,Cancelled,Amazon,Amazon.in,Expedited,JNE3440,JNE3440-KR-N-M,kurta,M,B081WY1SP3,Cancelled,0,NaN,GUDUR,ANDHRA PRADESH,524412,False,NaN
128938,403-3041916-4169943,2022-06-29,Shipped,Amazon,Amazon.in,Expedited,JNE3645,JNE3645-TP-N-XS,Top,XS,B08ZJ2CB3B,Shipped,1,473.0,JAIPUR,RAJASTHAN,302021,False,NaN
128939,404-1853914-5061101,2022-06-29,Shipped,Amazon,Amazon.in,Expedited,JNE3440,JNE3440-KR-N-L,kurta,L,B081X7JHBC,Shipped,1,435.0,GUDUR,ANDHRA PRADESH,524412,False,NaN
128940,171-3323289-3692326,2022-06-29,Shipped,Amazon,Amazon.in,Expedited,SET345,SET345-KR-NP-XXL,Set,XXL,B09KXSQ73F,Shipped,1,641.0,KARAIKAL,PUDUCHERRY,609603,False,NaN
128941,408-7436540-8728312,2022-06-29,Shipped,Amazon,Amazon.in,Expedited,J0003,J0003-SET-S,Set,S,B0894X27FC,Shipped,1,696.0,Raipur,CHHATTISGARH,492014,False,NaN

In [33]:
#Checking for empty cells
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6869
Qty                       0
Amount (IDR)           7793
ship-city                 0
ship-state                0
ship-postal-code          0
B2B                       0
fulfilled-by          89678
dtype: int64

In [43]:
df['Courier Status'].unique()

array(['Shipped', 'Cancelled', 'Unshipped', nan], dtype=object)

In [41]:
df['Status'].unique()

array(['Shipped', 'Cancelled', 'Shipped - Delivered to Buyer',
       'Shipped - Returned to Seller', 'Shipped - Rejected by Buyer',
       'Shipped - Out for Delivery', 'Shipped - Picked Up', 'Pending',
       'Shipped - Returning to Seller', 'Shipped - Lost in Transit',
       'Pending - Waiting for Pick Up', 'Shipped - Damaged', 'Shipping'],
      dtype=object)

In [45]:
#Droping Courier Status for redundancy
df = df.drop(columns=['Courier Status'])

In [47]:
#Checking for correlation between Qty = 0 and Status = Canceled
df[df['Qty'] == 0]['Status'].value_counts()

Status
Cancelled                       12696
Shipped                            93
Shipped - Delivered to Buyer        8
Shipped - Returned to Seller        3
Pending                             2
Name: count, dtype: int64

In [51]:
# Only a few suspicious lines, let's only keep the rest
df = df[~((df['Qty'] == 0) & (df['Status'] != 'Cancelled'))]
df[df['Qty'] == 0]['Status'].value_counts()

Status
Cancelled    12696
Name: count, dtype: int64

In [53]:
# Let's test our correlation the other way. If an order is canceled, Qty should be 0
df[df['Status'] == 'Cancelled']['Qty'].value_counts()

Qty
0    12696
1     5603
2       26
Name: count, dtype: int64

In [57]:
# This way around we have more mistakes, it would be cleaner to correct the Qty
df.loc[(df['Qty'] != 0) & (df['Status'] == 'Cancelled'), 'Qty'] = 0
df[df['Status'] == 'Cancelled']['Qty'].value_counts()

Qty
0    18325
Name: count, dtype: int64

In [59]:
# Quick check
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 128836 entries, 0 to 128941
Data columns (total 18 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Order ID            128836 non-null  object
 1   Date                128836 non-null  datetime64[ns]
 2   Status              128836 non-null  object
 3   Fulfilment          128836 non-null  object
 4   Sales Channel       128836 non-null  object
 5   ship-service-level  128836 non-null  object
 6   Style               128836 non-null  object
 7   SKU                 128836 non-null  object
 8   Category            128836 non-null  object
 9   Size                128836 non-null  object
 10  ASIN                128836 non-null  object
 11  Qty                 128836 non-null  int64
 12  Amount (IDR)        121149 non-null  float64
 13  ship-city           128836 non-null  object
 14  ship-state          128836 non-null  object
 15  ship-postal-code    128836 non-null  int64
 16  B2B                 128836 non-null  bool
 17  fulfilled-by        39253 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(1), int64(2), object(13)
memory usage: 17.8+ MB

In [61]:
#Checking for empty cells
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Qty                       0
Amount (IDR)           7687
ship-city                 0
ship-state                0
ship-postal-code          0
B2B                       0
fulfilled-by          89583
dtype: int64

In [75]:
# It would make sense that empty cells in amount would be correlated with a Qty of 0
df[df['Amount (IDR)'].isnull()]['Qty'].value_counts()

Qty
0     7564
1      114
2        4
15       1
3        1
4        1
13       1
9        1
Name: count, dtype: int64

In [79]:
#Here what we can do is delete the lines where we don't have the price and the quentity is NOT equal to zero.
df = df.drop(df[(df['Amount (IDR)'].isnull()) & (df['Qty'] != 0)].index)

In [81]:
#Then, we can put 0 as the price for all orders with a Qty of 0
df.loc[df['Qty'] == 0, 'Amount (IDR)'] = 0

In [83]:
#check
df[df['Amount (IDR)'].isnull()]['Qty'].value_counts()

Series([], Name: count, dtype: int64)

In [85]:
#Checking for empty cells
df.isnull().sum()

Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Qty                       0
Amount (IDR)              0
ship-city                 0
ship-state                0
ship-postal-code          0
B2B                       0
fulfilled-by          89460
dtype: int64

In [89]:
df['fulfilled-by'].unique()

array([nan, 'Easy Ship'], dtype=object)

In [91]:
# no real added value for further analysis from fulfilled-by, dropped
df = df.drop(columns=['fulfilled-by'])

In [93]:
# Quick check
df.head()

,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,Size,ASIN,Qty,Amount (IDR),ship-city,ship-state,ship-postal-code,B2B
0,171-5621960-3341131,2022-03-31,Shipped,Amazon,Amazon.in,Expedited,JNE3518,JNE3518-KR-L,kurta,L,B08XVQM1LP,1,487.0,chennai,TAMIL NADU,600035,False
1,406-5696940-6341966,2022-03-31,Shipped,Amazon,Amazon.in,Expedited,SET291,SET291-KR-PP-XL,Set,XL,B099NJV9X7,1,605.0,HOWRAH,WEST BENGAL,711102,False
2,407-4837648-6290749,2022-03-31,Shipped,Amazon,Amazon.in,Expedited,SET341,SET341-KR-NP-XL,Set,XL,B09NPX3HG3,1,857.0,KADI,Gujarat,382715,False
3,402-4733027-0669159,2022-03-31,Shipped,Amazon,Amazon.in,Expedited,J0335,J0335-DR-XL,Western Dress,XL,B09831P2JC,1,989.0,BENGALURU,KARNATAKA,560037,False
4,171-7254125-8884332,2022-03-31,Cancelled,Amazon,Amazon.in,Expedited,JNE3784,JNE3784-KR-XXL,kurta,XXL,B09K3XZC3J,0,0.0,JAIPUR,RAJASTHAN,302029,False

In [95]:
df.to_csv("Amazon_Sale_Report_Cleaned.csv", index=False)

## 🧐 Initial Data Exploration (Google Sheets)

- The raw dataset was first explored using Google Sheets for a quick manual review.
- Actions done:
  - Deleted unnecessary columns: `currency`, `ship-country`, and an empty unnamed column.
  - Identified formatting issues (like postal codes stored incorrectly).
  - Detected missing postal codes and flagged about 30 rows for deletion.
  - Observed that 'Courier Status' seemed redundant with 'Status'.
- This initial manual cleanup helped define the main cleaning strategy before moving to Python for deeper analysis.

---

## 📋 Final Summary

- Imported and explored the Amazon sales dataset.
- Checked for missing data and inconsistencies across key fields.
- Converted 'Date' column to proper datetime format for accurate time-series analysis.
- Sorted data chronologically by 'Date'.
- Removed redundant 'Courier Status' column (information was already captured in 'Status').
- Fixed logical inconsistencies between 'Qty' and 'Status' (e.g., cancelled orders with wrong quantities).
- Cleaned missing or incorrect 'Amount (IDR)' values:
  - Dropped rows with missing Amount and non-zero Quantity.
  - Set Amount to 0 for all orders with Quantity = 0.
- Removed the 'fulfilled-by' column as it added no further value to the analysis.
- Saved the cleaned dataset separately as `Amazon_Sale_Report_Cleaned.csv` for further analysis and visualization.

---

**✅ The dataset is now fully cleaned, consistent, and ready for further analysis or dashboard building!**

### 🔄 Revisiting Data Cleaning – Standardizing City Names

After initial exploration and visualization, I noticed an inconsistency in the formatting of the `ship-city` column. Some city names were written in all uppercase (e.g., `MUMBAI`), others in lowercase (e.g., `mumbai`), and some in title case (e.g., `Mumbai`). These variations can lead to inaccurate grouping and aggregation in the analysis phase — for instance, treating `DELHI`, `delhi`, and `Delhi` as three separate cities.

I will now:
- Reload the data
- Inspect unique values in the `ship-city` column
- Apply appropriate cleaning (e.g., converting all entries to title case)
- Verify that cities are consistently represented

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

# Load the data
df = pd.read_csv(r"C:\Users\sypho\portfolio\PROJETS\ecom\ecommerce-sales-analysis\data\Amazon_Sale_Report_Cleaned.csv")

In [4]:
df['ship-city'].sample(10)

28739    Manja Fish Market
37155         JASHPURNAGAR
75543            HYDERABAD
27678            HYDERABAD
34260           KOCH BIHAR
80593          NAVI MUMBAI
85682            AHMEDABAD
48313               Margao
30118                PATNA
95467            BENGALURU
Name: ship-city, dtype: object

In [8]:
df['ship-city'] = df['ship-city'].str.title()
df['ship-city'].value_counts()

ship-city
Bengaluru             11896
Hyderabad              9118
Mumbai                 7113
New Delhi              6337
Chennai                6276
                      ...
Dombivli-E                1
Bengaluru -50015          1
Phirangipuram             1
Narela                    1
Kothapalle, E.G.Dt        1
Name: count, Length: 7297, dtype: int64

In [10]:
#Looking for eventual typose
city_counts = df['ship-city'].value_counts()
rare_cities = city_counts[city_counts < 5]
rare_cities

ship-city
Vindhyanagar, Singrauli    4
Bhander                    4
Cherpu                     4
Mumbaimumbai               4
Nandikotkur Kurnool        4
                          ..
Dombivli-E                 1
Bengaluru -50015           1
Phirangipuram              1
Narela                     1
Kothapalle, E.G.Dt         1
Name: count, Length: 5528, dtype: int64

In [12]:
# extra spaces
df['ship-city'] = df['ship-city'].str.strip()

In [16]:
#deleting names containing non letter caracters
df = df[df['ship-city'].str.contains(r'^[a-zA-Z\s]+$', na=False)]

In [18]:
df.to_csv("Amazon_Sale_Report_Cleaned_Cities.csv", index=False, encoding='utf-8')

### 🧹 Additional Cleaning – `ship-city` Standardization

After reviewing earlier visualizations, I returned to the cleaning process to fix inconsistencies in the `ship-city` column.

✅ **Applied corrections:**
- Capitalization standardized (title case)
- Extra spaces removed
- Invalid entries dropped (containing digits, punctuation, or symbols)

These fixes ensure accurate city-based aggregation and visualization.  
The cleaned dataset was saved as:  
📄 `Amazon_Sale_Report_Cleaned_Cities.csv`